.home-container {
  height: 100vh;
  width: 100%;
  background-color: #1781eb;
}

.home, .friends, .messages{
  width: 100%;
  height: 100vh;
  // background-color:red ; 
  //  padding-top: 0px;
  display: flex;
  background-color: #e7ecf1;
}

.messages-navbar {
  width: 30%;
  height: 100vh;
  // margin-left: 200px;
  // background-color: blue; 
}

.messages-post {
  width: 20%;
  height: 100vh;
  // background-color: yellow;
  border-right: 2px solid rgba(0, 0, 0, 0.247);
  overflow-y: scroll;
}
.messages-post-content{
  margin-top: 100px;
}
::-webkit-scrollbar {
  display: none;
}

.messages-friends {
  width: 45%;
  height: 100vh;
  padding:100px 70px;
  padding-right: 140px;
  // background-color: turquoise;
}
